Write a function that inputs a number and prints the multiplication table of that number

In [4]:
def mult(x):
    for i in range(1,11):
        print(x*i)

x=int(input("Enter a number"))
mult(x)

Enter a number10
10
20
30
40
50
60
70
80
90
100

2. Write a program to print twin primes less than 1000. If two consecutive odd numbers are
both prime then they are known as twin primes

In [16]:
def twinprime():
    for k in range(3,1000,2):
        y=0
        for i in range(2,k//2+1):
            if k%i==0:
                y=1
                exit
            
        if y!=1:
            for i in range(2,((k+2)//2)+1):
                if (k+2)%i==0:
                    Y=1
                    exit
        if y!=1:
            print([k,k+2])
                
            


            
twinprime()

[3, 5]
[5, 7]
[7, 9]
[11, 13]
[13, 15]
[17, 19]
[19, 21]
[23, 25]
[29, 31]
[31, 33]
[37, 39]
[41, 43]
[43, 45]
[47, 49]
[53, 55]
[59, 61]
[61, 63]
[67, 69]
[71, 73]
[73, 75]
[79, 81]
[83, 85]
[89, 91]
[97, 99]
[101, 103]
[103, 105]
[107, 109]
[109, 111]
[113, 115]
[127, 129]
[131, 133]
[137, 139]
[139, 141]
[149, 151]
[151, 153]
[157, 159]
[163, 165]
[167, 169]
[173, 175]
[179, 181]
[181, 183]
[191, 193]
[193, 195]
[197, 199]
[199, 201]
[211, 213]
[223, 225]
[227, 229]
[229, 231]
[233, 235]
[239, 241]
[241, 243]
[251, 253]
[257, 259]
[263, 265]
[269, 271]
[271, 273]
[277, 279]
[281, 283]
[283, 285]
[293, 295]
[307, 309]
[311, 313]
[313, 315]
[317, 319]
[331, 333]
[337, 339]
[347, 349]
[349, 351]
[353, 355]
[359, 361]
[367, 369]
[373, 375]
[379, 381]
[383, 385]
[389, 391]
[397, 399]
[401, 403]
[409, 411]
[419, 421]
[421, 423]
[431, 433]
[433, 435]
[439, 441]
[443, 445]
[449, 451]
[457, 459]
[461, 463]
[463, 465]
[467, 469]
[479, 481]
[487, 489]
[491, 493]
[499, 501]
[503, 505]
[509, 511]
[521, 523]
[523, 525]
[541, 543]
[547, 549]
[557, 559]
[563, 565]
[569, 571]
[571, 573]
[577, 579]
[587, 589]
[593, 595]
[599, 601]
[601, 603]
[607, 609]
[613, 615]
[617, 619]
[619, 621]
[631, 633]
[641, 643]
[643, 645]
[647, 649]
[653, 655]
[659, 661]
[661, 663]
[673, 675]
[677, 679]
[683, 685]
[691, 693]
[701, 703]
[709, 711]
[719, 721]
[727, 729]
[733, 735]
[739, 741]
[743, 745]
[751, 753]
[757, 759]
[761, 763]
[769, 771]
[773, 775]
[787, 789]
[797, 799]
[809, 811]
[811, 813]
[821, 823]
[823, 825]
[827, 829]
[829, 831]
[839, 841]
[853, 855]
[857, 859]
[859, 861]
[863, 865]
[877, 879]
[881, 883]
[883, 885]
[887, 889]
[907, 909]
[911, 913]
[919, 921]
[929, 931]
[937, 939]
[941, 943]
[947, 949]
[953, 955]
[967, 969]
[971, 973]
[977, 979]
[983, 985]
[991, 993]
[997, 999]

Write a program to find out the prime factors of a number. Example: prime factors of 56 -
2, 2, 2, 7

500